{% extends "base.html" %}
{% block subtitle %}
    <strong>피마 인디언</strong> - <small> 당뇨병 유무 </small>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <form action="/classification_indians" method="POST">
                <table class="table table-borderless">
                    <tr>
                        <td>Pregnant(임신) 횟수</td>
                        <td><input type="text" id="pregnant" class="form-control"
                            placeholder="Pregnant" name="pregnant"></td>
                    </tr>
                    <tr>
                        <td>혈당 농도</td>
                        <td><input type="text" id="plasma" class="form-control"
                            placeholder="plasma" name="plasma"></td>
                    </tr>
                    <tr>
                        <td>확장기 혈압</td>
                        <td><input type="text" id="pressure" class="form-control"
                            placeholder="pressure" name="pressure"></td>
                    </tr>
                    <tr>
                        <td>삼두근 피부 주름 두께</td>
                        <td><input type="text" id="thickness" class="form-control"
                            placeholder="thickness" name="thickness"></td>
                    </tr>

                    <tr>
                        <td>혈정 인슐린</td>
                        <td><input type="text" id="insulin" class="form-control"
                            placeholder="insulin" name="insulin"></td>
                    </tr>

                    <tr>
                        <td>BMI</td>
                        <td><input type="text" id="bmi" class="form-control"
                            placeholder="bmi" name="bmi"></td>
                    </tr>

                    <tr>
                        <td>당뇨병 가족력</td>
                        <td><input type="text" id="pedigree" class="form-control"
                            placeholder="pedigree" name="pedigree"></td>
                    </tr>

                    <tr>
                        <td>나이</td>
                        <td><input type="text" id="age" class="form-control"
                            placeholder="age" name="age"></td>
                    </tr>



<!--                    <tr>-->
<!--                        <td>품종</td>-->
<!--                        <td>-->
<!--                            <select class="form-control" id="species" name="species">-->
<!--                                <option value="0">Setosa</option>-->
<!--                                <option value="1" selected>Versicolor</option>-->
<!--                                <option value="2">Virginica</option>-->
<!--                            </select>-->
<!--                        </td>-->
<!--                    </tr>-->
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">실행</button>&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>		
            </form>
        </div>
        <div class="col-4"></div>
    </div>                
{% endblock %}