{% extends "base.html" %}
{% block subtitle %}
    <strong>간단한 자기소개</strong>
{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-9">
      <form action="/seungkii" method="POST" enctype="multipart/form-data">
        <table class="table table-borderless">
            <tr>
              <td>조승기</td>
              <div class="col-9">            <hr>
                <img src="images/1.jpg" alt="Logo" style="height:300px;">
                <br><h3></h3>
                <br><strong style='color:rgb(37, 37, 119);'>조 승 기</strong></br>
                <br><strong style='color:rgb(37, 37, 119);'>1992.07.31(29)</strong></br>
                <br><h3><strong style='color:rgb(37, 37, 119);'>가나다라마바사아자차카타파하</strong></h3></br>
          </table>		
      </form>
    </div>
  <div class="col-3"></div>
</div>                
{% endblock %}        




















