<div class="row">
  <div class="col-lg-5">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="https://nsimg.kbs.co.kr/data/news/2019/11/20/4327665_Fe2.jpg" alt="Card image"
        , height="348">
    </div>
  </div>
  <div class="col-lg-7">
    <div class="container">
      <table class="table table-hover">
        <tbody>
          <th><strong>국적</strong></th>
          <th class="text-muted"><strong>대한민국</strong></th>
          <tr>
            <td><strong>지역</strong></td>
            <td class="text-muted"><strong>대전</strong></td>
          </tr>
          <tr>
            <td><strong>연령대</strong></td>
            <td class="text-muted"><strong>30대</strong></td>
          </tr>
          <tr>
            <td><strong>email</strong></td>
            <td class="text-muted"><strong>jhc1230513@gmail.com</strong></td>
          </tr>
          <tr>
            <td><strong>github</strong></td>
            <td class="text-muted"><strong>https://github.com/chohyunchul</strong></td>
          </tr>
          <tr>
            <td><strong>취미</strong></td>
            <td class="text-muted"><strong>로또</strong></td>
          </tr>
          <tr>
            <td><strong>현재 하는일</strong></td>
            <td class="text-muted"><strong>산업융합형 인공지능 청년 혁신가 양성과정</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div class="col-lg-5">
</div>
<hr>

<div class="container">
  <h3>난 누구인가</h3>
  <p><strong>현재 bootstrap을 이용해서 자기소개 페이지를 만들고 있다.</strong></p>
  <div class="alert alert-dark">
    <strong>고향!</strong> 지금은 대전에 살고 있으나... 주민등록상으로는 전라북도 익산이다... why?
  </div>
  <div class="alert alert-dark">
    <strong>나에게 bootstrap 이란?</strong> .......
  </div>
  <div class="alert alert-dark">
    <strong>하루일과!</strong> 집 -> 학원 - > 식당 -> 학원 -> 집
  </div>
  <div class="alert alert-dark">
    <strong>좋아하는 과일!</strong> 참외, 딸기
  </div>
  <div class="alert alert-dark">
    <strong>여름 휴가!</strong> 7월 31일(금)  ~ 8월 10일(월)
  </div>
  <div class="alert alert-dark">
    <strong>지금 생각나는 것!</strong> AI, 여행, 사케, 막걸리, 로또, 돈까스....
  </div>
  <div class="alert alert-dark">
    <strong>지금심정!</strong> 휴가!!!!!!!!!!!!!!!!!!!!!!!!!
  </div>
</div>
<hr>

<div id="demo" class="carousel slide" data-ride="carousel" style="padding-bottom: 10%;">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='images/A.jpg') }}" alt="A" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='images/B.jpg') }}" alt="B" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='images/C.png') }}" alt="C" width="1100" height="500">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>